{{response.files.append(URL(r=request,c='static',f='ckeditor/ckeditor.js'))}}
{{extend "layout.html"}}
<script type="text/javascript">
    $(document).ready(function(){
        
        CKEDITOR.replace('modelo_contrato_modelo', {
            toolbar: [['Source', '-', 'Preview', '-', 'Templates'], ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Print', 'SpellChecker', 'Scayt'], ['Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll', 'RemoveFormat'], '/', ['Bold', 'Italic', 'Underline'], ['NumberedList', 'BulletedList'], ['JustifyLeft', 'JustifyCenter', 'JustifyRight'], ['Image', 'Table'], '/', ['Styles', 'Format', 'Font', 'FontSize'], ['TextColor', 'BGColor'], ['Maximize', 'ShowBlocks']],
            entermode: CKEDITOR.ENTER_P,
        });
        
    });
</script>
{{=form}}
