<html>
    <head>
        <script src="c:/repo/anima/aplications/anima/static/jquery.js" type="text/javascript">
        </script>
        <script language="JavaScript">
        	$(docuemtn).ready(function(){
				$("#report").sortable();	
			});
        
        </script>
    </head>
    <body>
        <ul id='report'>
            <li class='ui-state-default'>
                paragrafo um
            </li>
            <li class='ui-state-default'>
                paragrafo dois
            </li>
        </ul>
    </body>
</html>
